%box{
    border:1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

#red-box{
    @extend %box;
    background-color: red;
}

#blue-box{
    @extend %box;
    background-color: blue;
}

#green-box{
    @extend %box;
    background-color: green;
}

#purple-box{
    @extend %box;
    background-color: purple;
}

#yellow-box{
    @extend %box;
    background-color: yellow;
}