@import "helpers/media-queries";

body{
    background-color: #000033;
}

%box{
    border:1px solid #000;
    border-radius: 10px;
    height: 75px;
    margin: 10px;
    display:none;
    
    @include non-phone {
        height: 125px;
    }

}

#red-box{
    @extend %box;
    background-color: red;
}

#blue-box{
    @extend %box;
    background-color: blue;
}

#green-box{
    @extend %box;
    background-color: green;
}

#yellow-box{
    @extend %box;
    background-color: yellow;
}

.main{
    border-radius:50%;
    border:5px double #000;
    margin: 50px auto;
    width: 300px;
    height: 300px;
    padding-top: 50px;
    background-color: #e6e6ff;
    
    @include non-phone{
        height: 500px;
        width: 500px;
        padding-top: 75px;
    }
}

h1{
    color: red;
    background-color: #ff8080;
    border: 2px dashed #000000;
    margin-bottom: 25px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 50px;
    color: red;
    margin-top: 50px;
    display: none;
    
    
    
}

#answer-button{
    display:none;
    margin-top: 20px;
}

#next-button{
    display:none;
    margin-top: 20px;
}